{% extends "base.html" %}

{% block head_title %}Blog{% endblock %}

{% block extra_head %}
    <link href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" rel="stylesheet" type="text/css"/> 
    <script src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js" type="text/javascript" />

{% endblock %}

{% block content %}
<h2>Latest Article</h2>

{% for entry in entries %}
    {% spaceless %}
    {% if forloop.first %}
    <h2><a href="{{ entry.link }}">{{ entry.title }}</a></h2>
    <div class="blog-entry">
        {% for c in entry.content %}
            {{ c.value|safe }}
        {% endfor %}
    </div>
    <div class="links">        
        {% for entry in entries %}
        {% if forloop.first %}    
            {% for link in entry.links %}
                {% if "Comments" in link.title %}
                    {% if "Post" not in link.title %}
                        <a href="{{ link.href|safe }}" id="comments-toggle" rel="nofollow">{{ link.title }} (links to another site)</a><br />
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% endspaceless %}            
{% endfor %}


{% endblock %}

